.join_chat{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join_chat_container{
    width: 60%;
    margin: auto;
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join_chat_container>h1{
    font-weight: 500;
    font-size: 25px;
}

.join_chat_container>input{
    background: transparent;
    border: none;
    border-bottom: 2px solid purple;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 450px){
    .join_chat_container{
        width: 100%;
    }
    .join_chat_container>input{
        font-size: 15px;
    }
}