.reassign{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.box_comp{
    width:50%;
    border:2px solid purple;
    height: 100%;
    margin-top: 20px;
    height: 70vh;

}

.box_top{
    display: flex;
    align-items: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: purple;
    height: 20%;
}
.box_top>img{
    height: 60px;
    width: 60px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 2vw;
    margin-left: 2vw;
}

.box_message_container{
    height: 70%;
    width: 100%;
}
.box_text_input{
    height: 10%;
    width: 100%;
}

.box_text_input>input{
    width: 80%;
    background-color: rgb(252, 240, 252);
    outline: none;
    border: none;
    height: 95%;
    font-size: 2vw;
}
.box_text_input>button{
    width: 20%;
    height: 100%;
    font-size: 2vw;
    border: none;
    outline: none;
    color: whitesmoke;
    background-color: purple;
}
.msg_scroller{
    height: 70%;
}

.msg_left{
    background-color: gray;
    border-radius: 5px;
    margin-left: 10px;
    float: left;
    display: flex;
    word-wrap: break-word;
    width: 50%;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 10px;
}

.msg_right{
    background-color: purple;
    border-radius: 5px;
    margin-right: 10px;
    float: right;
    display: flex;
    word-break: break-all;
    width: 50%;
    flex-direction: column;
    margin-top: 10px;
    padding-right: 10px;
    padding-left: 5px;
}

.user_name{
    align-self: flex-end;
    font-size: 15px;
    padding-right: 1vw;
}

@media screen and (max-width: 450px){
    .reassign{
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    .box_comp{
        width:100%;
        border:2px solid purple;
        height: 100%;
        margin-top: 20px;
        height: 70vh;
    
    }
    .box_top>img{
        height: 40px;
        width: 40px;
        object-fit: contain;
        border-radius: 50%;
        margin-right: 5px;
        margin-left: 5px;
    }
    .user_name{
        align-self: flex-end;
        font-size: 15px;
        padding-right: 1vw;
    }
    .box_text_input>input{
        
        font-size:15px;
        font-weight: 500;
    }

    .box_text_input>button{
        font-size:15px;
    }
} 